server {
	listen          80 default_server;
	server_name     localhost;

    access_log /var/log/nginx/ejrf.access.log;
    error_log /var/log/nginx/ejrf.error.log;

	client_max_body_size 75M;

    listen 443 ssl;

    error_page 497 https://$host:$server_port$request_uri;

    location / {
        uwsgi_pass unix:///tmp/ejrf.sock;
        include uwsgi_params;
    }

    location /static {
        alias   /srv/checkout/app/static/;

    }

}
