<div class="modal fade create-skip-rule" id="create-skip-rule" tabindex="-1" role="dialog"
     aria-labelledby="preview_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title cyan"> Define Skip Rule</h4>
          </div>
          <div class="modal-body" id="id_create-skip-rule">
          </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span
                 class="green bold"><i class="glyphicon glyphicon-ok"></i> Done</span></button>
          </div>
        </div>
    </div>
</div>
