<div ng-app="questionnaireApp">
    <div class="modal fade create-skip-rule" id="create-skip-rule" tabindex="-1" role="dialog"
         aria-labelledby="preview_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" data-ng-controller="SkipRuleController" id="skip-rule-controller">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            id="close-skip-rule">&times;</button>
                    <h4 class="modal-title cyan"> Skip Rules</h4>
                    {% if user.user_profile.region != None %}
                        <p class="top-padding">You can only skip questions or subsections that belong
                            to {{ user.user_profile.region }}</p>
                    {% endif %}
                </div>
                <div ng-include="'/static/templates/skipRuleModal.html'"></div>
            </div>
        </div>
    </div>

    <div class="modal fade create-grid" id="create-grid-modal" tabindex="-1" role="dialog"
         aria-labelledby="preview_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" data-ng-controller="CreateGridController" id="create-grid-controller">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cyan" id="preview_modal_label"> Create Grid in
                        Subsection: {{ subsection.title|default_if_none:'' }}</h4>
                </div>
                <form class="form-horizontal" name="newGrid" id="create-grid-form" novalidate ng-submit="postNewGrid()">
                    <div class="modal-body">
                        <div class="messages alert alert-success" ng-show="message">
                            {[{ message }]}
                        </div>
                        <div class="messages alert alert-danger" ng-show="error">
                            {[{ error }]}
                        </div>

                        {% csrf_token %}
                        <div ng-include="'/static/templates/grids/new.html'"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" id="save_grid_button"><span
                                class="green bold"><i class="glyphicon glyphicon-ok"></i> Create</span></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close-create-grid-modal">
                    <span class="red bold">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade edit-grid" id="edit-grid-modal" tabindex="-1" role="dialog"
         aria-labelledby="preview_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" data-ng-controller="EditGridController" id="edit-grid-controller">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form class="form-horizontal" name="EditGrid" id="create-grid-form" novalidate ng-submit="postUpdateGrid()">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div ng-include="'/static/templates/grids/edit.html'"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" id="save_grid_button"><span
                                class="green bold"><i class="glyphicon glyphicon-ok"></i> Update</span></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close-create-grid-modal">
                    <span class="red bold">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade assign-questions" id="id-assign-questions-modal" tabindex="-1" role="dialog"
         aria-labelledby="assign-questions" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" data-ng-controller="AssignQuestionController" id="assign-question-controller">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cyan" id="id-assign-questions-modal"> Assign Questions to
                        Subsection: {{ subsection.title }}</h4>
                </div>
                <form action="{[{  assignQuestionUrl }]}" method="post" accept-charset="utf-8" class="form-inline" novalidate ng-submit="submitQuestions($event)" >
                    <div class="modal-body">
                        {% csrf_token %}
                        <div ng-include="'/static/templates/assign_questions.html'"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" id="submit_assign_button"><span
                                class="green bold"><i class="glyphicon glyphicon-ok"></i> Done</span></button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">
                            <span class="red bold">
                                <i class="glyphicon glyphicon-remove"></i> Cancel
                            </span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.add-skip-rule-btn').removeClass('disabled');
    });

    var csrfToken = '{{ csrf_token }}';
    var url = "{% url 'skip_rules' %}";
    var sectionId = "{{ section.id }}",
            createSkipRuleForm = $('#create-skip-rule'),
            createGridModal = $('#create-grid-modal');

    createSkipRuleForm.on('hide.bs.modal', function (e) {
        $('.add-skip-rule-btn').addClass('disabled');
        window.location.reload()
    });
    createGridModal.on('hidden.bs.modal', function (e) {
        window.location.reload();
    });
    createSkipRuleForm.on('show.bs.modal', function (e) {
        $('#sumbit-question-skip-rule').validate({
            rules: {
                'root_question': 'required',
                'response': 'required',
                'skip_question': 'required'
            }
        });
        $('#sumbit-subsection-skip-rule').validate({
            rules: {
                'subsection_root_question': 'required',
                'response': 'required',
                'skip_subsection': 'required'
            }
        });
    });
</script>
