*.pyc
.idea
.DS_STORE
localsettings.py
ghostdriver.log
testsettings.py
.vagrant/
screenshots/
.ejrf-env
node_modules
media/
sample_file.zip
data-backup.json
infrastructure/roles/nginx/files/
*.json
hosts.ini
*#*