*.pyc
.idea
.DS_STORE
localsettings.py
ghostdriver.log
testsettings.py
Vagrantfile
.vagrant/
screenshots/
.ejrf-env
node_modules
media/
sample_file.zip
data-backup.json
e-jrf_org.crt
e-jrf_org.csr
e-jrf_org.key
