{% extends 'base/form.html' %}
{% block display_form_fields %}

    <h3>{{ title }}</h3>
    <hr/>
    <script src="{{ STATIC_URL }}js/lib/angular.min.js" type="text/javascript" charset="utf-8"></script>

    <script  type="text/javascript" charset="utf-8">
      var x = "{{ form.text.value }}";

      angular.module('questionnaireApp', [])
        .controller('CreateQuestionController', ['$scope', '$http', function($scope, $http) {
          $scope.csrfToken = '{{csrf_token}}';
          $scope.displayText = 'test';
      }]);

    </script>

    <div data-ng-app="questionnaireApp">
      <div data-ng-include="'/static/templates/createQuestion.html'"></div>
    </div>



{% endblock %}

