{% extends 'base/form.html' %}
{% block display_form_fields %}
{% load generic_tags %}
<script src="{{ STATIC_URL }}js/lib/angular.min.js" type="text/javascript" charset="utf-8"></script>

<script src="{{ STATIC_URL }}js/newQuestion.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    var options = {{ question_options |safe }};
    var answerType = "{{ form.instance.answer_type }}";
    var answerSubType = "{{ form.instance.answer_sub_type }}";

    var questionOptions = {{ form.instance.options.all|to_json|safe }};
    var postedOptions = {{ form.question_options|safe }};

    if (postedOptions.length > 0) { questionOptions = postedOptions; }
</script>

<div  data-ng-app="questionnaireApp" data-ng-controller="newQuestionController">
    {% load generic_tags %}
    <h3>{{ title }}</h3>
    <hr/>
    {% include 'base/naked_form.html' with a_form=form %}
        <div id="option-choices" data-ng-show="isAnswerTypeIsMultiChoice()">
            <label id="option-choices-label">Options</label>
            {% for options in form.KNOWN_OPTIONS %}
                <label class="radio-inline">
                    <input data-ng-model="knowOptions" type="radio" value="{{ options }}"
                            {{ form.instance|packaged_options:options }} name="questions-options"> {{ options }}
                </label>
            {% endfor %}
            <label class="radio-inline">
                <input data-ng-model="knowOptions" type="radio" value="custom"
                        {{ form.instance|custom_options }} name="questions-options" checked> Custom
            </label>

            <div ng-include="'/static/templates/questionOptions.html'"></div>
        </div>

</div>
{% endblock %}
