{% extends 'base/layout.html' %}
{% block content %}
    {% load generic_tags %}
    <div class="row">
        <div class="col-md-12">
            <h2>eJRF Versions</h2>
            <hr/>
        </div>
        {% if new %}
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>
                            <h3 class="panel-title">Available</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for questionnaire_ in new.keys %}
                                <li class="list-group-item">
                                    {% with questionnaire_.sections.all|first as first_section %}
                                        <a id="new-questionnaire-{{ questionnaire_.id }}"
                                           href="{% url 'questionnaire_entry_page' questionnaire_.id first_section.id %}">{{ questionnaire_.name }} {{ questionnaire_.year }}</a>
                                        <span class="pull-right">
                                            <a href="{% url 'questionnaire_entry_page' questionnaire_.id first_section.id %}"
                                               class="btn btn-xs btn-default" id="id-edit"><span
                                                    class="glyphicon glyphicon-pencil"></span> Start</a>
                                        </span>
                                    {% endwith %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>
                        <h3 class="panel-title">In Progress</h3>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if drafts %}
                            {% for questionnaire_ in drafts %}
                                <li class="list-group-item">
                                    {% with questionnaire_.sections.all|first as first_section %}
                                        <a id="draft-questionnaire-{{ questionnaire_.id }}" href="{% url 'questionnaire_entry_page' questionnaire_.id first_section.id %}">{{ questionnaire_.name }} {{ questionnaire_.year }}
                                            </a><i class="label label-success">Version {{ questionnaire_.current_answer_version }}</i>
                                        <span class="pull-right">
                                        <a href="{% url 'questionnaire_entry_page' questionnaire_.id first_section.id %}"
                                           class="btn btn-xs btn-default" id="id-edit"><span
                                                class="glyphicon glyphicon-pencil"></span> Edit</a>
                                    </span>
                                    {% endwith %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Submitted
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if submitted %}
                            {% for questionnaire, versions in submitted.items %}
                                <li class="list-group-item{% if  forloop.counter > 3 %} hide{% endif %}">

                                    {{ questionnaire.name }} {{ questionnaire.year }}
                                    {% if questionnaire not in drafts %}
                                    <a href="{% url 'questionnaire_entry_page' questionnaire.id questionnaire.sections.all.0.id %}"
                                           class="btn btn-xs btn-default pull-right" id="id-edit"><span
                                        class="glyphicon glyphicon-pencil"></span> Edit</a>
                                    {% endif %}

                                    <ul>
                                        {% for version in versions %}
                                            <li>
                                                {% with questionnaire.sections.all as ordered_sections %}
                                                    <a  data-href="{% url 'questionnaire_entry_page' questionnaire.id ordered_sections.0.id %}?preview=1&version={{ version }}" class="ds-preview-btn" id="view-version-{{ questionnaire.id }}">
                                                        <i class="glyphicon glyphicon-eye-open"></i>
                                                        Version {{ version }}
                                                    </a>
                                                {% endwith %}
                                            </li>
                                            {% include 'questionnaires/entry/preview_modal.html' with country=user.user_profile.country%}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        {% endif %}
                        <li class="list-group-item more-toggle">
                            <a href="" id="id-older-jrf">More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}