<div class="newgrid-filter">
    <div class="newgrid-filter-element">
        <label for="type">Type</label>
        <select required name="type" id="type" class="form-control"
                data-ng-model="grid.gridType"
                data-ng-options="type.text for type in types track by type.value">
            <option value="">Select a type</option>
        </select>

        <span class="error-text" ng-show="newGrid.type.$invalid || gridFormErrors.formHasErrors">
            <span class="text-danger" ng-show="newGrid.type.$error.required">
                This field is required
            </span>

            <span class="text-danger" ng-repeat="error in gridFormErrors.backendErrors.type">
                {[{ error }]}
            </span>
        </span>
    </div>

    <div class="newgrid-filter-element">
        <label for="theme">Theme</label>
        <select required name="theme" id="theme" class="form-control"
                data-ng-model="grid.selectedTheme"
                data-ng-options="theme.fields.name for theme in themes track by theme.pk">
            <option value="">Select a theme</option>
        </select>
        <span class="text-danger" ng-show="newGrid.theme.$error.required">
            This field is required
        </span>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td>
                QNO.
            </td>
            <td>
                <div class="form-inline">
                    <select required name="primary_question" id="primary_question" class="form-control"
                            data-ng-model="selectedQuestions.primary"
                            data-ng-options="question.fields.export_label for question in grid.primaryQuestions | filter: {fields:{is_primary: 'true'}} | filter: { fields: {theme: grid.selectedTheme.pk}} track by question.pk">
                        <option value="">Primary Question</option>
                    </select>

                    <div class="error-text" ng-show="newGrid.primary_question.$invalid || gridFormErrors.formHasErrors">
                        <p class="text-danger" ng-show="newGrid.primary_question.$error.required">
                            This field is required
                        </p>

                        <p class="text-danger" ng-repeat="error in gridFormErrors.backendErrors.primary_question">
                            {[{ error }]}
                        </p>
                    </div>
                </div>
            </td>

            <td ng-repeat="q in selectedQuestions.otherColumns" ng-mouseenter="editTable=true"
                ng-mouseleave="editTable=false">
                <div>
                    <div ng-show="editTable" class="pull-right grid-btn-group">
                        <a href="#" class="" data-ng-click="grid.addColumn()	">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </a>
                        <a href="#" class="" data-ng-click="grid.removeColumn($index)" ng-show="selectedQuestions.otherColumns.length > 1">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                    <div name="gridForm.{[{ 'dynamicQuestion'+ $index }]}" ng-form="">
                        <select required name="columns" class="form-control"
                                data-ng-model="selectedQuestions.otherColumns[$index]"
                                data-ng-options="question.fields.export_label for question in grid.questions | filter: {fields:{is_primary: 'false'}} | filter: { fields: {theme: grid.selectedTheme.pk}} | notSelected:selectedQuestions.otherColumns:$index  track by question.pk">
                            <option value="">Question</option>
                        </select>

                        <div class="error-text"
                             ng-show="gridForm.{[{ 'dynamicQuestion'+ $index }]}.columns.$invalid || gridFormErrors.formHasErrors">
                            <p class="text-danger"
                               ng-show="gridForm.{[{ 'dynamicQuestion'+ $index }]}.columns.$error.required">
                                This field is required
                            </p>

                            <p class="text-danger" ng-repeat="error in gridFormErrors.backendErrors.columns">
                                {[{ error }]}
                            </p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-repeat="option in grid.questionOptions">
            <td>
                {[{ $index + 1 }]}
            </td>
            <td>
                {[{ option.fields.text }]}
            </td>
            <td ng-repeat="q in selectedQuestions.otherColumns">
                <input type="text"/>
            </td>
        </tr>
    </table>

</div>