<div class="col-md-12">
    <label for="selected-theme">Theme</label>
    <select id="selected-theme" ng-model="selectedTheme"
            ng-options="theme.fields.name for theme in allThemes track by theme.pk"
            class="form-control">
        <option value="">Choose One</option>
    </select>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="{[{ true }]}" ng-model="used" id="hide-assigned-questions" name="hide-assigned-questions" /> Hide Used
        </label>
    </div>

    <input type="text" class="form-control pull-right" id="filter-text" placeholder="Search" ng-model="searchInput">
</div>

<div class="table-responsive top-padding">
    <table si-table class="table table-bordered">
        <thead>
        <tr>
            <th>Assign</th>
            <th sort-by="question.fields.UID">UID</th>
            <th>Export Label (Detail)</th>
            <th sort-by="question.fields.answer_type">Response Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="wrappedQuestion in allQuestions | byUsed: used | byTheme: selectedTheme | filter: searchInput"
            ng-class="{'grey-bg': wrappedQuestion.used }">
            <td id="id-question-{[{ wrappedQuestion.question.pk }]}">
                <input type="checkbox" value="{[{ wrappedQuestion.question.pk }]}" name="questions"
                       ng-disabled="{[{ wrappedQuestion.used }]}"/>
            </td>
            <td>{[{ wrappedQuestion.question.fields.UID }]}</td>
            <td id="text-td">{[{ wrappedQuestion.question.fields.export_label }]}</td>
            <td>{[{ wrappedQuestion.question.fields.answer_type }]}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <si-table-pagination limit="20" indices="4"/>
            </td>
        </tr>
        </tfoot>
    </table>
</div>