<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="selectNewRuleTab" href="#newRule" role="tab" data-toggle="tab"
                                                  data-ng-click="setActiveTab('newRuleTab')">New Question Rule</a></li>
        <li role="presentation"><a id="selectNewSubsectiongRuleTab" href="#newSubsectionRules" role="tab" data-toggle="tab"
                                   data-ng-click="setActiveTab('newSubsectionRuleTab')">New Subsection Rule</a></li>
        <li role="presentation"><a id="selectExistingRuleTab" href="#existingRules" role="tab" data-toggle="tab"
                                   data-ng-click="setActiveTab('existingRulesTab')">Existing Rules</a></li>
    </ul>
    <div id="newRuleTab" data-ng-show="activeTab == 'newRuleTab'">
        <form method="post" class="form-horizontal" id="sumbit-skip-rule" name="skipForm" data-ng-submit="submitForm()">
            <div class="modal-body question-group indent">
                <div data-ng-class="skipResult.className" class="alert" data-ng-show="skipResult.show">
                    {{skipResult.message}}
                </div>

                <input name="subsection_id" type="hidden" data-ng-model="skipRule.subsectionId"
                       value="{{subsectionId}}"/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Root Question</label>

                    <div class="col-sm-7 center-fields">
                        <select required name="root_question" id="root-question"
                                data-ng-model="skipRule.rootQuestion"
                                data-ng-options="q.fields.text for q in questions | filter: {fields:{answer_type: 'MultiChoice'}}">
                            <option value="">Select Root Question</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Response</label>

                    <div class="col-sm-7 center-fields">
                        <ul>
                            <li data-ng-repeat="option in skipRule.rootQuestion.options">
                                <label style="display:block;">
                                    <input type="radio" name="response" required
                                           data-ng-model="skipRule.questionResponse"
                                           ng-value="option.pk"/>&nbsp;{{option.fields.text}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Question to Skip</label>

                    <div class="col-sm-7 center-fields">
                        <select name="skip_question" required data-ng-model="skipRule.skipQuestion"
                                data-ng-options="q.fields.text for q in questions | filter:matchSelectedQuestion">
                            <option value="">Select Question</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a type="cancel" class="btn btn-default" data-dismiss="modal">
                    <span class="red bold"><i class="glyphicon glyphicon-remove"></i> Cancel</span>
                </a>
                <button tyep="button" class="btn btn-default" id="save-skip-rule-button"
                        data-ng-click="fns.createRule()">
                    <span class="green bold"><i class="glyphicon glyphicon-ok"></i> Done</span></button>
            </div>
        </form>
    </div>
    <div id="newSubsectionRuleTab" data-ng-show="activeTab == 'newSubsectionRuleTab'">
        <form method="post" class="form-horizontal" name="skipForm" data-ng-submit="submitForm()">
            <div class="modal-body question-group indent">
                <div data-ng-class="skipResult.className" class="alert" data-ng-show="skipResult.show">
                    {{skipResult.message}}
                </div>

                <input name="subsection_id" type="hidden" data-ng-model="skipRule.subsectionId"
                       value="{{subsectionId}}"/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Root Question</label>

                    <div class="col-sm-7 center-fields">
                        <select required name="root_question"
                                data-ng-model="skipRule.rootQuestion"
                                data-ng-options="q.fields.text for q in questions | filter: {fields:{answer_type: 'MultiChoice'}}">
                            <option value="">Select Root Question</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Response</label>

                    <div class="col-sm-7 center-fields">
                        <ul>
                            <li data-ng-repeat="option in skipRule.rootQuestion.options">
                                <label style="display:block;">
                                    <input type="radio" name="response" required
                                           data-ng-model="skipRule.questionResponse"
                                           ng-value="option.pk"/>&nbsp;{{option.fields.text}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Subsection To Skip</label>

                    <div class="col-sm-7 center-fields">
                        <select name="skip_question" required data-ng-model="skipRule.skipQuestion"
                                data-ng-options="q.fields.text for q in subsections">
                            <option value="">Select SubSection</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a type="cancel" class="btn btn-default" data-dismiss="modal">
                    <span class="red bold"><i class="glyphicon glyphicon-remove"></i> Cancel</span>
                </a>
                <button tyep="button" class="btn btn-default"
                        data-ng-click="fns.createRule()">
                    <span class="green bold"><i class="glyphicon glyphicon-ok"></i> Done</span></button>
            </div>
        </form>
    </div>
    <div id="existingRulesTab" data-ng-show="activeTab == 'existingRulesTab'">
        <div class="modal-body">
            <div class="question-group indent">
                <div data-ng-repeat="rule in existingRules | orderBy:'id'" class="existingRule">
                    <div class="form-group" style="display:none;"><label class="col-sm-3 control-label">Rule ID</label>{{rule.id}}
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">Root Question</label>{{rule.root_question}}
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">Response</label>{{rule.response}}
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">Question to Skip</label>{{rule.skip_question}}
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a type="cancel" class="btn btn-default" data-dismiss="modal">
                <span class="red bold"><i class="glyphicon glyphicon-remove"></i> Close</span>
            </a>
        </div>
    </div>
</div>
