{% if perms.auth.can_edit_questionnaire and  user.user_profile.region == questionnaire.region and user.user_profile.region == group.region and not preview %}
<div>
    <script>
        var selectMove = function(direction, formId) {
            $('#' + formId).find("input[name='move_direction']").val(direction);
        }



    </script>
    <form id="move-grid-form-{{group.id}}" action="{% url 'move_grid' %}" method="POST" class="btn-group pull-right">
        {% csrf_token %}
        <input type="hidden" name="move_direction"/>
        <input type="hidden" name="group_id" value="{{ group.id }}"/>
        <button class="btn btn-default btn-sm" type="submit" value="up"
                onclick="selectMove('up', 'move-grid-form-{{group.id}}')">
            <span class="cyan"><span class="glyphicon glyphicon-circle-arrow-up"></span>Move Up</span></button>
        <button class="btn btn-default btn-sm" type="submit" value="down"
                onclick="selectMove('down', 'move-grid-form-{{group.id}}')">
            <span class="cyan"><span class="glyphicon glyphicon-circle-arrow-down"></span>Move Down</span></button>

        <a href="" class="btn btn-default btn-sm" data-toggle="modal" data-target="#create-skip-rule"
           data-target="#" onClick="skipRules.updateGrid({{ subsection.id }}, {{ group.id }})">
            <span class="cyan"><span class="glyphicon glyphicon-plus-sign"></span>Add Grid Rules</span>
        </a>
        <a href="" class="delete-grid btn btn-default btn-sm" data-toggle="modal"
           data-target="#delete-grid-modal-{{ group.id }}"
           id="delete-grid-{{ group.id }}">
            <span class="cyan"><span class="glyphicon glyphicon-trash"></span>Delete Grid</span>
        </a>
    </form>
</div>
{% endif %}
