{% extends 'base/layout.html' %}
{% block javascripts %}
{% include 'questionnaires/entry/_extra_js.html' %}
<script src="{{ STATIC_URL }}js/lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/create_skip_rule.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/helpers.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/create-grid.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block extra_css %}
{% include 'questionnaires/entry/_extra_css.html' %}
{% endblock %}
{% block content %}

<div id="page-alert-success" class="alert alert-success" style='display:none;'></div>
<div id="page-alert-error" class="alert alert-danger" style='display:none;'></div>
{% include 'questionnaires/entry/_section_buttons.html' %}

{% include 'questionnaires/subsection_angular_modals.html' %}

{% load questionnaire_entry_tags %}
{% load generic_tags %}

<div class="form-table">
    {% include 'questionnaires/entry/section_breadcrumps_wizzard.html' %}

    <div class="form-content">
        <div id="section-title">
            {% include 'questionnaires/entry/_section_title.html' %}
        </div>

        {% if perms.auth.can_edit_questionnaire %}
            <div class="form-horizontal" id="questionnaire_entry" role="form">
        {% else %}
            <form class="form-horizontal" id="questionnaire_entry" role="form" method="post">
        {% endif %}
            <input type="hidden" value="{{ the_version }}" id="version-holder" class="hide"/>
            {% if preview %}
            <input type='hidden' name='preview' id="preview" value={{ preview }}/>
            {% endif %}
            {% csrf_token %}
            {% for form_type, form_set in formsets.formsets.items %}
            {{ form_set.management_form }}
            {% endfor %}
            <div id='section-content'>
                {% for subsection in section.sub_sections.all.distinct %}
                <div class="subsection-content" id="subsection-{{ subsection.id }}-content"
                     data-attribute-subsection-order="{{ subsection.order }}"
                     data-attribute-subsection-name="{{ subsection.title }}"
                     data-attribute-subsection-id="{{ subsection.id }}">
                    {% include 'questionnaires/entry/_subsection_title.html' %}
                    {% for group in subsection.parent_question_groups %}
                    {% if group and group.grid %}
                    <div class="grid-group">
                        {% include 'questionnaires/entry/_grid_buttons.html' %}
                        {% if group.hybrid %}
                        {% include 'questionnaires/entry/hybrid.html' %}
                        {% else %}
                        {% include 'questionnaires/entry/grid.html' with a_group=group section=section sub_section=subsection %}
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="question-group indent">
                        {% for order in group.question_orders %}
                        {% include 'questionnaires/entry/_questions_n_answers_fields.html' %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <hr class="group-hr" data-group-id="{{ group.id }}"/>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% include 'questionnaires/entry/_save_button.html' %}
        {% if perms.auth.can_edit_questionnaire %}
            </div>
        {% else %}
            </form>
        {% endif %}
    </div>
</div>

{% include 'questionnaires/entry/_outside_loop_modals.html' %}
{% include 'base/modals/_reorder_questions.html' %}
{% endblock %}
